body{
  background-image: url('../img/fundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 0.5s ease;
  
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.logo{
  width: 300px;
  height: auto;
}

.tela-inicial {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(63, 61, 61, 0.9);
  padding: 15px;
  width: 90%;            
  max-width: 350px;      
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.tela-inicial h2{
  color: white;
  font-size: 18px;
}

.tela-inicial button {
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.tela-inicial .login-btn {
  background-color: #ff5200;
  color: white;
}

.tela-inicial .register-btn {
  background-color: black;
  color: white;
}

.tela-login {
  display: none;
  background-color: rgba(63, 61, 61, 0.9);
  padding: 15px;
  width: 90%;            
  max-width: 350px;      
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  
}


.tela-login h2{
  color: white;
  font-size: 18px;
}

.tela-login input {
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}
.checkbox-group {
  display: flex;
  align-items: center;
  width: 85%;
  margin-bottom: 15px;
  gap: 8px;
}

.checkbox-group input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
}

.checkbox-group label {
  color: white;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}

.tela-login button{
  color: white;
  background-color: #ff5200;
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}


































