body{
  background-image: url('../img/fundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-image 0.5s ease;
  
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.logo{
  width: 300px;
  height: auto;
}

.tela-inicial {
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(63, 61, 61, 0.9);
  padding: 15px;
  width: 90%;            
  max-width: 350px;      
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}


.tela-inicial h2{
  color: white;
  font-size: 18px;
}

.tela-inicial button {
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.tela-inicial .login-btn {
  background-color: #ff5200;
  color: white;
}

.tela-inicial .register-btn {
  background-color: black;
  color: white;
}

.tela-login {
  display: none;
  background-color: rgba(63, 61, 61, 0.9);
  padding: 15px;
  width: 90%;            
  max-width: 350px;      
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  gap: 10px;
  
}

.tela-login h2{
  color: white;
  font-size: 18px;
}

.tela-login input {
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 15px;

}
.checkbox-group {
  display: flex;
  align-items: center;
  width: 85%;
  margin-bottom: 15px;

}

.checkbox-group input[type="checkbox"] {
  width: 16px;
  height: 16px;
  margin: 0;
  cursor: pointer;
}

.checkbox-group label {
  color: white;
  font-size: 12px;
  white-space: nowrap;
  cursor: pointer;
}

.tela-login button{
  color: white;
  background-color: #ff5200;
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.tela-login .voltar-btn {
  color: white;
  background-color: black;
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.tela-register{
  display: none;
  background-color: rgba(63, 61, 61, 0.9);
  padding: 15px;
  width: 90%;            
  max-width: 350px;      
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  gap: 10px;
  align-items: center;
}

.tela-register input{
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

.tela-register h2{
  color: white;
  font-size: 14px;
}

.tela-register p{
  color: white;
}

.tela-register button{
  color: white;
  background: #ff5200;
  border-radius: 15px;
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.tela-register .voltar-btn2{
  color: white;
  background: black;
}

.dados{
 display: none;
 background-color: rgba(63, 61, 61, 0.9);
 flex-direction: column;
 box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
 padding: 10px;
 width: 100%;
 max-width: 350px;
 gap: 5px;
}

.dados button{
  color: white;
  background: #ff5200;
  border-radius: 15px;
  width: 85%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.tela-register2{
  padding: 15px;                 
  flex-direction: column;
  align-items: center;
  
}

.tela-register2 input{
  width: 93.5%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}

.tela-register2 h2{
  color: white;
  font-size: 20px;
}

.tela-register3 {
  padding: 15px;              
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.tela-register3 input {
  width: 40%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 15px;
}
 .tela-register3 select {
  width: 50%;
  padding: 12px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 15px;
 }































